.body {
  background: linear-gradient(to top, #8ebaf3, #0a3061);
  color: white; /*color of the text inside this body*/
  height: 100vh;
  margin: 0; /*spaces between divs or any other element*/
  display: flex; /*flex box allows you to changed the direction of your elements flow (horizontal or vertical)
  align-items: center;
  justify-content: center; */
  background-attachment: fixed;
}

.parent-div {
  /* border: 1px solid blue; */
  padding: 20px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
}

.container {
  display: flex;
  /* background-color: green; */
  /* height: 100%; */
  width: 100%;
  gap: 1em;
}

.container2 {
  background-color: rgb(0, 39, 61);
  display: flex;
  gap: 4em;
}

.sections {
  display: flex;
  justify-content: center;
  flex: 1; /*This makes it so that all the secions are equal in size*/
  border: 1px solid white;
  text-overflow: ellipsis;
}
.sections2 {
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  justify-content: center;
  flex: 1;
}
