.body {
  background: radial-gradient(circle, #450202 20%, #000000 100%);
  color: white; /*color of the text inside this body*/
  height: 100vh; /*viewport height*/
  margin: 0; /*spaces between divs or any other element*/
  display: flex; /*flex box allows you to changed the direction of your elements flow (horizontal or vertical)*/
  align-items: center;
  justify-content: center;
}

.parent-div {
  /* border: 1px solid blue; */
  padding: 20px;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  /* background-color: green; */
  height: 100%;
  width: 100%;
  gap: 1em;
}

.sections {
  display: flex;
  justify-content: center;
  flex: 1;
  border: 1px solid white;
}
